.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
.toggle-password {
    cursor: pointer;

}
/* تعديل حجم ومكان العين */
.input-group-text img {
    width: 20px; /* حجم العين */
    height: 20px; /* ارتفاع العين */
}

/* تعديل موضع العين */
.input-group-text {
    padding: 0 10px; /* زيادة الحشو لتناسب العين */
}

/* تعديل المسافة بين زر Create new والنص */
.create-account-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* تعديل المسافة حسب الحاجة */
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}